.jumbotron {
    border-radius: 0 0 .3rem .3rem;
    margin: 0 !important;
}

footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#age {
    background-color: red;
}

.pd-l30 {
    padding-left: 30px;
}
